 /* INICIO PAGINA DE CONTACTOS */
  .contacto{
    width: 100%;
    height: 1200px;
    justify-content: space-around;
    align-items: center;
    display: flex;

  }
  .check-out h6{
    font-size: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    color: #1E1E1E;
  }
  .check-out{
    width: 720px;
    height: 850px;
    background-color: white;
    font-size: 15px;
 color: #1E1E1E;
    border-right: #2889AA solid 7px;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 5px;
  }
  .form-label{
    width: 10px;
  }
  .form-control{
    width: 10px;
  }
  input{
    width: 10px;
  }
  button {
    font-size: 25px;
    color: #ffffff;
    justify-content: center;
  }
.mapa iframe{
  width: 600px;
  height: 600px;
}
  
  /* FINAL DE PAGINA DE CONTACTO*/