* {
    margin: 0%;
    padding: 0%;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  main {
    background-color: #1E1E1E;
  }
  /* FOOTER INICIO */
footer {
  width: 100%;
  background-color: #1E1E1E;
  color: aliceblue;
  border-bottom: solid grey 3px;
  border-left: solid grey 3px;
  border-right: solid grey 3px;
  display: flex;
  justify-content: space-between;
} 
.datos-footer{
  width: 350px;
  height: 150px;
justify-content: center;
align-items: center;
text-align: center;

}
footer ul{
  font-size: 25px;
}
.redes-footer img{
  width: 35px;
  height: 35px;
}
.logosfooter img {
  width: 150px;
  height: 150px;
  padding: 15px;
}
/* FOOTER FINAL */
/* HEADER INICIO */
header {
  background-color: #1E1E1E;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border: black solid 2px;
}

header img {
  width: 235px;
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
}

ul li a {
  color: aliceblue;
  text-decoration: none;
}

li {
  padding: 5px 15px;
}

nav ul li a:hover {
  color: aqua;
}
/* HEADER FINAL*/
.indice h1 {
  text-align: center;
  color: white;
  background-color: #2889AA;
}