.carousel {
  width: 100%;
  height: 800px;
}

.carousel img {
  width: 100%;
  height: 800px;
  border: grey solid 3px;
}
.carousel h5{
  background-color: #1e1e1e;
}
.carousel p {
  font-size: 38px;
  text-align: center;
  color: aliceblue;
}
.buttons{
position: relative;
top: 250px;
}
/*  CARROUSEL FINAL */
