/* BARRA DE NAVEGACION DE PRODUCTOS INICIO */
.navbar-productos ul{
justify-content: center;
font-size: 25px;
}
  /* FIN DE BARRA DE NAVEGACION DE PRODUCTOS */
  /* INICIO GALERIA DE PRODUCTOS */
  .galeria-container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0.9375rem;
    margin-top: 25px;
  }
  
  .galeria-container img {
    width: 200px;
    height: 200px;
  }

  /* FINAL GALERIA DE PRODUCTOS */