/* INICIO MODIFICACIONES GENERALES DE TRAVESIA */
.travesias {
    display: flex;
    height: 450px;
    border-top: #ffffff solid 3px;
    border-bottom: #ffffff solid 3px;
    justify-content: space-around;
    align-items: center;
  }
  .travesias-list h6{
    font-size: 25px;
  }
  .travesias-list{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .travesias-list ul li::marker{
  
  }
  .travesias img {
    width: 700px;
    height: 400px;
    justify-content: center;
  }
  
  .sub-destinos {
    color: aliceblue;
    display: inline-block;
  }
  
  .destinos{
    font-size: 35px;
    color: aliceblue;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
  }
  
  /* FIN DE PAGINA TRAVESIA Y MODIFICACIONES GENERALES */