* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: "Montserrat", sans-serif;
}

main {
    background-color: #1E1E1E;
}

header {
    background-color: #1E1E1E;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border: black solid 2px;
}

header img {
    width: 235px;
    height: 100px;
    background-color: aliceblue;
}

nav ul {
    list-style: none;
    display: flex;

}

ul li a {
    color: aliceblue;
    text-decoration: none;

}

li {
    padding: 5px 15px;
}

.datosfacym {
    color: aliceblue;
    background-color: #2889AA;
    display: flex;
    justify-content: space-evenly;
    border: black solid 1px;
    height: 25px;
}

.carrousel {
    width: 100%;
    height: 750px;
    background-image: url(./assets/kyle\ grozelle\ mediano.jpg);
    background-size: 100% 100%;
}

.carrousel img {
    width: 100%;
    height: 750px;
    border: grey solid 3px;
}

.carrousel p {
    font-size: 38px;
    text-align: center;
    color: aliceblue;
}

nav ul li a:hover {
    color: aqua;
}

.travesia {
    width: 100%;
    height: 750px;
    background-image: url(./assets/jeff-james\ mediana.jpg);
    background-size: 100% 100%;
}

.travesia img {
    width: 100%;
    height: 750px;
}

.travesia h3 {
    font-size: 40px;
    color: rgb(236, 16, 16);
    text-decoration: underline;
    text-align: center;

}

.travesia h4 {
    font-size: 30px;
    color: aliceblue;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #1E1E1E;
    color: aliceblue;
    border: solid grey 3px;
    display: flex;
    justify-content: space-between;
}

.logosfooter img {
    width: 150px;
    height: 150px;
    padding: 15px;
}

.datos ul li::marker {
    color: aqua;
}

h1 {
    text-align: center;
    background-color: aliceblue;
    color: #1E1E1E;
    border: black solid 1px;
}

.cadenabarro {
    display: flex;
    color: aliceblue;
    height: 450px;
    border-top: #2889AA solid 3px;
}

.cadenabarronieve {
    width: 100%;
    padding-left: 15px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
}

.hielo {
    display: flex;
    color: aliceblue;
    height: 450px;
    border-bottom: #2889AA solid 3px;
    border-top: #2889AA solid 3px;
}

.hielopua {
    width: 100%;
    padding-left: 15px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.hielo img {
    width: 650px;
}