* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: "Montserrat", sans-serif;
}

main {
    background-color: #1E1E1E;
}

header {
    background-color: #1E1E1E;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border: black solid 2px;
}

header img {
    width: 235px;
    height: 100px;
    background-color: aliceblue;
}

nav ul {
    list-style: none;
    display: flex;

}

ul li a {
    color: aliceblue;
    text-decoration: none;

}

li {
    padding: 5px 15px;
}

.datosfacym {
    color: aliceblue;
    background-color: #2889AA;
    display: flex;
    justify-content: space-evenly;
    border: black solid 1px;
    height: 25px;
}

.carrousel {
    width: 100%;
    height: 750px;
    background-image: url(./assets/kyle\ grozelle\ mediano.jpg);
    background-size: 100% 100%;
}

.carrousel img {
    width: 100%;
    height: 750px;
    border: grey solid 3px;
}

.carrousel p {
    font-size: 38px;
    text-align: center;
    color: aliceblue;
}

nav ul li a:hover {
    color: aqua;
}

.travesia {
    width: 100%;
    height: 750px;
    background-image: url(./assets/jeff-james\ mediana.jpg);
    background-size: 100% 100%;
}

.travesia img {
    width: 100%;
    height: 750px;
}

.travesia h3 {
    font-size: 40px;
    color: rgb(236, 16, 16);
    text-decoration: underline;
    text-align: center;

}

.travesia h4 {
    font-size: 30px;
    color: aliceblue;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #1E1E1E;
    color: aliceblue;
    border: solid grey 3px;
    display: flex;
    justify-content: space-between;
}

.logosfooter img {
    width: 150px;
    height: 150px;
    padding: 15px;
}

.datos ul li::marker {
    color: aqua;
}

h1 {
    text-align: center;
    background-color: #1E1E1E;
    color: white;
    border: black solid 1px;
}

.cadenabarro {
    display: flex;
    color: aliceblue;
    height: 450px;
    border-top: #2889AA solid 3px;
}

.cadenabarronieve {
    width: 100%;
    padding-left: 15px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
}

.hielo {
    display: flex;
    color: aliceblue;
    height: 450px;
    border-bottom: #2889AA solid 3px;
    border-top: #2889AA solid 3px;
}

.hielopua {
    width: 100%;
    padding-left: 15px;
}

h2 {
    text-decoration: underline;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.hielo img {
    width: 650px;
}

.datos {
    padding-top: 15px;
}

.datos ur li::marker {
    color: #2889AA;
}

.navegaciondeproductos {
    width: 100%;
    height: 150px;
}

.navegaciondeproductos ul {
    width: 100%;
    height: 100px;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegaciondeproductos ul li {
    padding: 1%;

}

.navi {
    display: flex;
    background-color: #2889AA;
    justify-content: center;
    background-color: aliceblue;
}

.navi ul li a {
    color: #1E1E1E;
    font-size: 15px;
}

.navi li a {
    color: #1E1E1E;
    font-size: 20px;
}

.galeria-container {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: .9375rem;
    margin-top: 25px;
}

.galeria-container img {
    width: 200px;
    height: 200px;
}

.travesias {
    display: flex;
    height: 250px;
    padding: 15px;
    border-top: #ffffff solid 3px;
    border-bottom: #ffffff solid 3px;
}

.travesias img {
    width: 370px;
}

.destinos {
    color: aliceblue;
    position: relative;
    top: 25px;
    right: 60px;
    width: 350px;
    height: 200px;
}

.h5 {
    position: relative;
    bottom: 10px;
    left: 380px;
    font-size: 35px;
    color: aliceblue;
    text-decoration: underline;
}
h3{text-align: center;
    padding-top: 15px;
text-decoration: underline double;
}
.contacto-check{
width: 20%;
height: 400px;
background-color: white;
font-size: 20px;
padding-left: 15px;
border-right: #2889AA solid 7px;
}
.registro{padding: 15px;
}
.registro2{
    padding: 15px;
}
.registro3{
    padding: 15px;
display: flex;
}
button{font-size: 25px;
background-color: #1E1E1E;
color: #ffffff;
margin-left: 70px;
height: 45px;
padding: 5px;
position: relative; 
top: 50px
}
.mapa{
    position: relative;
left: 520px;
bottom: 251px;
height: 150px;
}
.redes{
  background-color: #ffffff;
    position: relative;
    left: 1170px;
    bottom: 300px;
    height: 80px;
    padding-top: 15px;
    border-left: #2889AA solid 5px;
}
.redes img{width: 55px;
margin-left: 25px;}