* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: #1E1E1E;
}

/* HEADER INICIO */
header {
  background-color: #1E1E1E;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border: black solid 2px;
}

header img {
  width: 235px;
  height: 100px;
  background-color: aliceblue;
}

nav ul {
  list-style: none;
  display: flex;
}

ul li a {
  color: aliceblue;
  text-decoration: none;
}

li {
  padding: 5px 15px;
}

nav ul li a:hover {
  color: aqua;
}

.datosfacym {
  color: aliceblue;
  background-color: #2889AA;
  display: flex;
  justify-content: space-evenly;
  border: black solid 1px;
  height: 25px;
}

/* HEADER FINAL*/

/*CAROUSEL INICIO */
.carousel img {
  height: 700px;
}

.carousel {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons {
  position: relative;
  top: 250px;
}

.carousel-caption {
  h5 {
    font-size: 35px;
  }

  p {
    font-size: 25px;
  }
}

/*CAROUSEL FINAL */
/* FINAL DE INDEX */
/* FOOTER INICIO */
footer {
  width: 100%;
  background-color: #1E1E1E;
  color: aliceblue;
  border: solid grey 3px;
  display: flex;
  justify-content: space-between;
}

.logosfooter img {
  width: 150px;
  height: 150px;
  padding: 15px;
}

.datos ul li::marker {
  color: aqua;
}

.datos {
  padding-top: 15px;
}

.datos ur li::marker {
  color: #2889AA;
}

/* FOOTER FINAL */
/* INDICE  */
.indice {
  width: 100%;
  background-color: #1E1E1E;
  color: #ffffff;
  text-align: center;
  border-bottom: #ffffff solid 3px;
}

/* INDICE FINAL */
/* PAGINA: CADENAS*/
.cards {
  display: flex;
  justify-content: space-around;
  height: 1000px;
  width: 100%;
  align-items: center;
}

.cards img {
  width: 21.9rem;
  height: 21.9rem;
}

.card {
  justify-content: center;
  text-align: center;
  width: 22rem;
}

.card-body a {
  text-decoration: none;
}

/* FIN DE PAGINA CADENAS */

/* INICIO DE PAGINA PRODUCTOS */
/* BARRA DE NAVEGACION DE PRODUCTOS INICIO */
.navbar-productos ul{
  justify-content: center;
  text-align: center;
  align-items: center;
 text-decoration: none;
 font-size: 19px;
}
.dropdown-item ul li a{
  color: #ffffff;
  text-decoration: none;
}
.dropdown-menu ul li a{
  color: #ffffff;
  text-decoration: none;
}
.nav nav-tabs ul {
  color: #ffffff;
  text-decoration: none;
}
/* FIN DE BARRA DE NAVEGACION DE PRODUCTOS */
/* INICIO GALERIA DE PRODUCTOS */
.galeria-container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.9375rem;
  margin-top: 25px;
}

.galeria-container img {
  width: 200px;
  height: 200px;
}

/* FINAL GALERIA DE PRODUCTOS */
/* INICIO DE PAGINA TRAVESIAS */
/* INICIO MODIFICACIONES GENERALES DE TRAVESIA */
.travesias {
  display: flex;
  height: 250px;
  padding: 15px;
  border-top: #ffffff solid 3px;
  border-bottom: #ffffff solid 3px;
}

.travesias img {
  width: 370px;
}

.destinos {
  color: aliceblue;
  position: relative;
  top: 25px;
  right: 60px;
  width: 350px;
  height: 200px;
}

.h5 {
  position: relative;
  bottom: 10px;
  left: 380px;
  font-size: 35px;
  color: aliceblue;
  text-decoration: underline;
}

/* FIN DE PAGINA TRAVESIA Y MODIFICACIONES GENERALES */
/* INICIO PAGINA DE CONTACTOS */
h3 {
  text-align: center;
  padding-top: 15px;
  text-decoration: underline double;
}

.contacto-check {
  width: 20%;
  height: 400px;
  background-color: white;
  font-size: 20px;
  padding-left: 15px;
  border-right: #2889AA solid 7px;
}

.registro {
  padding: 15px;
}

.registro2 {
  padding: 15px;
}

.registro3 {
  padding: 15px;
  display: flex;
}

button {
  font-size: 25px;
  background-color: #1E1E1E;
  color: #ffffff;
  margin-left: 70px;
  height: 45px;
  padding: 5px;
  position: relative;
  top: 50px;
}

.mapa {
  position: relative;
  left: 520px;
  bottom: 251px;
  height: 150px;
}

.redes {
  background-color: #ffffff;
  position: relative;
  left: 1170px;
  bottom: 300px;
  height: 80px;
  padding-top: 15px;
  border-left: #2889AA solid 5px;
}

.redes img {
  width: 55px;
  margin-left: 25px;
}

/* FINAL DE PAGINA DE CONTACTO*/
@media(max-width:769px) {
  header img {
    width: 200px
  }

  .carousel img {
    height: 500px;
    width: 100%;
  }

  .carousel-caption {
    h5 {
      font-size: 17px;
      background-color: #1E1E1E;
    }

    p {
      font-size: 15px;
    }
  }

  .datosfacym {
    height: 20px;
    font-size: 10px;
    text-align: center;
  }

  nav {
    font-size: 15px;
  }

  .cards {
    height: 850px;
    width: 100%;
  }

  .cards img {
    width: 18rem;
    height: 18rem;
  }

  .card {
    width: 18rem;
    font-size: 10px;
  }

  .indice h1 {
    font-size: 18px;
    padding-top: 8px;
  }

.galeria-container img{
  width: 200px;
  height: 200px;
  border-right: #2889AA solid 5px;
}
.galeria-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
}
.navbar-productos ul{
  font-size: 17px;
}
}
@media(max-width:426px) {
  header img {
    width: 100px;
    height: 50px;
  }
  header{
display: block;
justify-content: center;
align-items: center;
text-align: center;
  }
  header nav{
    font-size: 10px;
    padding: 5px;
  }
.datosfacym{
text-align: center;
  font-size: 8px;
  padding: 3px;
}
.logosfooter img{
  width: 100px;
  height: 100px;
}
.datos{
  font-size: 10px;
}
.cards{
width: 100%;
height: 630px;
}
.card{
  width: 10rem;
  font-size: 7px;
  h5{
    font-size: 10px;
    text-decoration: underline;
  }
}
.card img{
  width: 10rem;
  height: 10rem;
}
.indice h1{
  font-size: 13px;
}
.navbar-productos ul{
  font-size: 8px;
}
.galeria-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: .75rem;
  margin-top: 15px;
}
}

/*# sourceMappingURL=style.css.map */